@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;500;700;900&display=swap');
// Fuentes
$fuente_principal:'Encode Sans Condensed',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$color-1: #0D0D0D;
$color-2: #FCFEFE;
$color-3: #F6F6EF;
$color-4: #333333;
$color-5: #A0EFE3;
$color-6: #FF5B3C;
$color-7: #FCAC72;
$separacion: 5rem;
// Fuentes
$minima:200;
$delgada: 300;
$regular: 400;
$avanzada:500;
$bold: 700;
$black: 900