legend {
    color: $color-2;
    font-size: 2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    margin: 15rem 1rem 0;
    @include tablet {
        width: 80rem;
        height: 40rem;
        margin-top: 25rem;
    }
    color: $color-2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    width: 10rem;
    top: -4rem;
    left: 0;
}