.us {
    h2 {
        margin-top: 3rem;
        @include tablet {
            font-size: 6rem;
        }
    }
    p {
        margin: 2rem 2rem;
        color: $color-1;
        @include tablet {
            margin: 2rem 30rem;
        }
        text-align: justify;
        text-transform: uppercase;
        &:first-of-type,
        &:last-of-type {
            text-align: center;
            @include tablet {
                font-size: 4rem;
            }
        }
    }
}

span {
    background: -webkit-linear-gradient(45deg, rgb(163, 147, 5) 45%, blue 46%65%, red 66%100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}