.us {
	h2 {
		margin-top: 3rem;
		@include tablet {
			font-size: 6rem;
		}
	}
	p {
		margin: 2rem 2rem;
		color: $color-1;
		@include tablet {
			margin: 2rem 30rem;
		}
		text-align: justify;
		text-transform: uppercase;
		&:first-of-type,
		&:last-of-type {
			text-align: center;
			@include tablet {
				font-size: 4rem;
			}
		}
	}
}

span {
	background: $color-1;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
