.us {
	h2 {
		margin-top: 10000rem;
		@include tablet {
			font-size: 6rem;
		}
	}
	p {
		margin: 2rem 2rem;
		color: red;
		@include tablet {
			margin: 2rem 30rem;
		}
		text-align: justify;
		text-transform: uppercase;
		&:first-of-type,
		&:last-of-type {
			text-align: center;
			@include tablet {
				font-size: 4rem;
			}
		}
	}
}
